//
//  Secrets.xcconfig
//  Hissedar
//
//  Created by Sinan Dinç on 3/26/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SUPABASE_URL = https:/$()/jcmoxcapvpvwtjyvjljh.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpjbW94Y2FwdnB2d3RqeXZqbGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2OTM2OTUsImV4cCI6MjA5MTI2OTY5NX0.MshTTjNEYAROksj51jnlys7acdEPuSlODMuFn3_uvL0
INFURA_API_KEY = https:/$()/utzvwxyfoenpvceozkxc.supabase.co
ALCHEMY_API_KEY = https:/$()/utzvwxyfoenpvceozkxc.supabase.co
ETHERCSAN_API_KEY = https:/$()/utzvwxyfoenpvceozkxc.supabase.co
